.checkbox_item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.checkbox_wrap {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.checkbox_inp {
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox_mark {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.checkbox_mark:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.checkbox_inp:checked + .checkbox_mark {
    background-color: #34bfa3;
}

.checkbox_inp:checked + .checkbox_mark:before {
    transform: translateX(30px);
}

/* Optional: Add focus styles */
.checkbox_inp:focus + .checkbox_mark {
    box-shadow: 0 0 1px #34bfa3;
} 